Repository ntuscse/website, pull requests merged in 2022-11, with the labels that each got.

#1 [web] Add storybook
  package.json
  packages/ui/.storybook/main.js
  packages/ui/.storybook/manager.js
  packages/ui/.storybook/preview.js
  packages/ui/.storybook/storybookTheme.js
  packages/ui/package.json
  packages/ui/stories/Button.stories.tsx
  packages/ui/stories/Button.tsx
  packages/ui/stories/Header.stories.tsx
  packages/ui/stories/Header.tsx
  packages/ui/stories/Introduction.stories.mdx
  packages/ui/stories/Page.stories.tsx
  packages/ui/stories/Page.tsx
  packages/ui/stories/assets/code-brackets.svg
  packages/ui/stories/assets/colors.svg
  packages/ui/stories/assets/comments.svg
  packages/ui/stories/assets/direction.svg
  packages/ui/stories/assets/flow.svg
  packages/ui/stories/assets/plugin.svg
  packages/ui/stories/assets/repo.svg
  packages/ui/stories/assets/stackalt.svg
  packages/ui/stories/button.css
  packages/ui/stories/header.css
  packages/ui/stories/page.css
  yarn.lock
Labels: web

#3 [SCSE-89] Add example component to storybook
  packages/ui/.gitignore
  packages/ui/.storybook/main.js
  packages/ui/.storybook/preview.js
  packages/ui/Button.tsx
  packages/ui/components/button/Button.stories.tsx
  packages/ui/components/button/Button.tsx
  packages/ui/components/button/index.tsx
  packages/ui/components/footer/Footer.stories.tsx
  packages/ui/components/footer/Footer.tsx
  packages/ui/components/footer/index.tsx
  packages/ui/index.tsx
  packages/ui/package.json
  packages/ui/stories/Introduction.stories.mdx
  packages/ui/stories/example/Button.stories.tsx
  packages/ui/stories/example/Button.tsx
  packages/ui/stories/example/Header.stories.tsx
  packages/ui/stories/example/Header.tsx
  packages/ui/stories/example/Page.stories.tsx
  packages/ui/stories/example/Page.tsx
  packages/ui/stories/example/button.css
  packages/ui/stories/example/header.css
  packages/ui/stories/example/page.css
  packages/ui/theme.ts
  yarn.lock
Labels: web

#5 [SCSE-82] Initialise Strapi project in monorepo
  apps/cms/Dockerfile
  apps/cms/config/database.ts
  apps/cms/docker-compose.yml
  apps/cms/package.json
  apps/cms/src/api/about/content-types/about/schema.json
  apps/cms/src/api/about/controllers/about.js
  apps/cms/src/api/about/routes/about.js
  apps/cms/src/api/about/services/about.js
  apps/cms/src/api/article/content-types/article/schema.json
  apps/cms/src/api/article/controllers/article.js
  apps/cms/src/api/article/routes/article.js
  apps/cms/src/api/article/services/article.js
  apps/cms/src/api/author/content-types/author/schema.json
  apps/cms/src/api/author/controllers/author.js
  apps/cms/src/api/author/routes/author.js
  apps/cms/src/api/author/services/author.js
  apps/cms/src/api/category/content-types/category/schema.json
  apps/cms/src/api/category/controllers/category.js
  apps/cms/src/api/category/routes/category.js
  apps/cms/src/api/category/services/category.js
  apps/cms/src/api/global/content-types/global/schema.json
  apps/cms/src/api/global/controllers/global.js
  apps/cms/src/api/global/routes/global.js
  apps/cms/src/api/global/services/global.js
  apps/cms/src/bootstrap.js
  apps/cms/src/components/shared/media.json
  apps/cms/src/components/shared/quote.json
  apps/cms/src/components/shared/rich-text.json
  apps/cms/src/components/shared/seo.json
  apps/cms/src/components/shared/slider.json
  apps/cms/src/index.js
  yarn.lock
Labels: cms

#11 [chore] Improve ci-cd performance
  .github/workflows/ci.yml
  .npmrc
  package.json
Labels: chore

#12 [chore][cms] Move docker-compose files
  apps/cms/docker-dev/docker-compose-dev.yml
  apps/cms/docker-staging/docker-compose.yml
Labels: cms, chore

#9 [SCSE-116] Refactor navbar component and add navbar story
  apps/web/pages/_app.tsx
  packages/ui/.storybook/main.js
  packages/ui/.storybook/preview.js
  packages/ui/assets/scse-logo.png
  packages/ui/components/layout/Layout.tsx
  packages/ui/components/navbar/Logo.tsx
  packages/ui/components/navbar/MenuItem.tsx
  packages/ui/components/navbar/MenuItems.tsx
  packages/ui/components/navbar/MenuLink.tsx
  packages/ui/components/navbar/MenuToggle.tsx
  packages/ui/components/navbar/NavBar.stories.tsx
  packages/ui/components/navbar/NavBar.tsx
  packages/ui/components/navbar/NavBarContainer.tsx
  packages/ui/components/navbar/NavDrawer.tsx
  packages/ui/components/navbar/index.tsx
Labels: web

#15 [SCSE-60] Add Hero component
  packages/ui/components/button/Button.stories.tsx
  packages/ui/components/button/Button.tsx
  packages/ui/components/button/index.tsx
  packages/ui/components/hero/Hero.stories.tsx
  packages/ui/components/hero/Hero.tsx
  packages/ui/components/hero/index.tsx
  packages/ui/index.tsx
Labels: web

#19 [SCSE-62] Add blog card component
  packages/ui/components/blog-card/BlogCard.stories.tsx
  packages/ui/components/blog-card/BlogCard.tsx
  packages/ui/components/blog-card/BlogCardContent.tsx
  packages/ui/components/blog-card/BlogCardImage.tsx
  packages/ui/components/blog-card/index.tsx
  packages/ui/index.tsx
Labels: web

#21 [SCSE-67] Implement Events Page
  apps/web/next.config.js
  apps/web/pages/api/blogs.ts
  apps/web/pages/events.tsx
  packages/ui/components/blog-card/BlogCard.tsx
  packages/ui/components/blog-card/BlogCardContent.tsx
  packages/ui/components/blog-card/BlogCardImage.tsx
  packages/ui/components/hero/Hero.stories.tsx
  packages/ui/components/hero/Hero.tsx
Labels: web

#22 [SCSE-66] Implement Academics Page
  apps/web/pages/academics.tsx
  apps/web/public/banners/academics-banner.png
  apps/web/public/neve-web-design-studio-06.jpg
  packages/ui/components/hero/Hero.tsx
  packages/ui/components/navbar/Logo.tsx
  packages/ui/components/navbar/MenuItems.tsx
  packages/ui/components/navbar/NavBarContainer.tsx
Labels: web

#23 [SCSE-59][SCSE-64][SCSE-68] Add Carousel and Faq Component + Implement Sponsors Page
  apps/web/package.json
  apps/web/pages/_app.tsx
  apps/web/pages/academics.tsx
  apps/web/pages/api/sponsors.ts
  apps/web/pages/events.tsx
  apps/web/pages/sponsors.tsx
  packages/ui/.storybook/main.js
  packages/ui/components/assets/xorex-logo.jpg
  packages/ui/components/carousel/CarouselControlsNextButton.tsx
  packages/ui/components/carousel/CarouselControlsPrevButton.tsx
  packages/ui/components/carousel/CarouselSpace.stories.tsx
  packages/ui/components/carousel/CarouselSpace.tsx
  packages/ui/components/carousel/ChakraUICarousel.tsx
  packages/ui/components/carousel/SponsorImages/SponsorImages.txt
  packages/ui/components/carousel/index.tsx
  packages/ui/components/faq/Faq.stories.tsx
  packages/ui/components/faq/Faq.tsx
  packages/ui/components/faq/Qna.tsx
  packages/ui/components/faq/index.tsx
  packages/ui/index.tsx
  packages/ui/next.config.js
  packages/ui/package.json
  yarn.lock
Labels: web
